h1 {
  border-bottom: 1px solid;
  margin-bottom: 50px;
}

.main-page-container {
  .about-page-row {
    margin-top: 80px;
    .about-page-intro {
      display: flex;
      justify-content: center;
      .about-page-text {
        height: 100%;
        font-size: 25px;
      }
    }
  }
  .our-numbers-container {
    margin-top: 80px;
    height: 40vh;
    .stat-col {
      height: 300px;
      display: flex;
      justify-content: center;

      .stat {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50%;
        width: 70%;
      }
    }
    // .number-stats-list {
    //   display: flex;
    //   flex-direction: row;
    //   justify-content: center;
    //   align-items: center;
    //   margin-top: 50px;
    //   .stat {
    //     list-style: none;
    //     margin-right: 50px;
    //     padding: 50px;
    //     max-width: 350px;
    //     max-height: 350px;
    //     display: flex;
    //     flex-direction: column;
    //     text-align: center;
    //   }
  }
}

.how-we-work-container {
  .how-we-work-header {
    margin-top: 150px;
  }
  .process-row {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
  }
  .process-col {
    .steps {
      margin-bottom: 20px;
    }
  }
}

.about-page-container,
.how-we-work-container {
  max-width: 1300px;
}

.our-numbers-title,
.our-numbers-subtitle {
  display: flex;
  justify-content: center;
}
