@import "../base/media-queries.scss";

.main-page-container {
  .about-page-row {
    margin-top: 80px;
    .about-page-intro {
      display: flex;
      flex: 1 1 auto;
      justify-content: center;
      .about-page-text {
        height: 100%;
        font-size: 25px;
      }
    }
  }
  .our-numbers-container {
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 80px;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    .our-numbers-subtitle {
      margin-bottom: 20px;
    }
    .stats-row {
      justify-content: center;
      .stat-col {
        display: flex;
        flex: 1 1 auto;
        justify-content: center;
        .stat {
          padding-top: 50px;
          padding-bottom: 50px;
          display: flex;
          flex: 1 1 auto;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          .stat-text {
            @media #{$ie11} {
              width: 80%;
            }
          }
        }
      }
    }
  }
  .img-container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    .business-svg {
      max-width: 450px;
      @media #{$sm-only} {
        max-width: 100%;
      }
    }
  }

  .how-we-work-container {
    .how-we-work-header {
      margin-top: 80px;
    }
    .process-row {
      margin-top: 50px;
      display: flex;
      flex: 1 1 auto;
      flex-direction: row;
      @media #{$sm-only} {
        margin-top: 0px;
      }
    }
    .process-col {
      .steps {
        margin-bottom: 20px;
      }
    }
  }

  .we-are-header {
    margin-top: 50px;
  }
  .career-col {
    .careers-list {
      list-style: none;
      @media #{$sm-only} {
        padding: 0px;
        width: 55vw;
        margin: 16px auto;
      }
    }
  }

  .end-mark-col {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    margin-top: 50px;
  }
}

.about-page-container,
.how-we-work-container {
  max-width: 1300px;
}

.about-header,
.how-we-work-header,
.we-are-header {
  border-bottom: 1px solid;
  margin-bottom: 50px;
}

.our-numbers-title,
.our-numbers-subtitle {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
}

.steps-text {
  @media #{$sm-only} {
    margin-bottom: 30px;
  }
}
