h1 {
  border-bottom: 1px solid;
  margin-bottom: 50px;
}

.about-page-container {
  .about-page-row {
    margin-top: 80px;
    .about-page-intro {
      display: flex;
      justify-content: center;
      height: 30vh;
    }
  }
  .our-numbers-title,
  .our-numbers-subtitle {
    display: flex;
    justify-content: center;
  }
  .number-stats-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    .stat {
      list-style: none;
      margin-right: 50px;
      padding: 50px;
      max-width: 350px;
      max-height: 350px;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }
}

.how-we-work-container {
  .how-we-work-header {
    margin-top: 200px;
  }
  .process-row {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
  }
  .process-col {
    .steps {
      margin-bottom: 20px;
    }
  }
}

.about-page-container,
.how-we-work-container {
  max-width: 1300px;
}
