.footer-logo {
  height: 150px;
  padding-top: 10px;
}

.footer-nav,
.footer-social-media {
  // height: 150px;
  height: fit-content;
  ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    padding: 0px;
    li {
      margin-right: 25px;
    }
  }
}

.footer-social-media,
.footer-phone-email {
  margin-top: 10px;
}

.footer-social-media {
  .fab {
    margin-right: 10px;
  }
}

.address-info,
.footer-phone-email {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
}
