.footer-container {
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
  @media #{$sm-only} {
    padding-left: 0px;
    padding-right: 0px;
  }

  .footer-nav,
  .footer-social-media {
    height: fit-content;
    ul {
      width: 100%;
      display: flex;
      flex: 1 1 auto;
      list-style: none;
      padding: 0px;
      @media #{$sm-only} {
        justify-content: space-evenly;
      }
      li {
        margin-right: 25px;
        @media #{$sm-only} {
          margin-right: 0px;
        }
      }
    }
  }

  .phone-and-email {
    margin-top: 10px;
  }

  .footer-social-media,
  .footer-phone-email {
    margin-top: 10px;
  }

  .footer-nav,
  .footer-social-media,
  .address-info,
  .footer-phone-email {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    text-align: right;
    @media #{$sm-only} {
      align-items: center;
      text-align: center;
    }
  }
}
