//Dimensions of each parent container/rows based on Bootstrap's grid system.

.landing-section {
  height: 435px;
  .row {
    height: 100%;
  }
}

.learn-more-section {
  height: 400px;
  margin-top: 50px;
  .row {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.news-section {
  height: fit-content;
  padding-left: 100px;
  padding-right: 100px;
}

.footer {
  height: 300px;
  margin-top: 150px;
  padding-left: 100px;
  padding-right: 100px;
}
