@import "../base/media-queries.scss";

.logo-section {
  position: fixed;
  top: 0px;
  z-index: 999;
  background-color: white;
}

.company-logo {
  height: 76px;
  margin-top: 20px;
  .logo {
    width: fit-content;
    margin-left: 55px;
    @media #{$md-and-smaller} {
      margin: 0 auto;
    }
  }
}

.landing-section {
  margin-top: 50px;
  @media #{$md-and-smaller} {
    margin-top: 20px;
  }
  .landing-left {
    .landing-welcome-1,
    .landing-welcome {
      margin-left: 55px;
    }
    .landing-welcome-1 {
      margin-top: 100px;
      margin-bottom: 10px;
      @media #{$sm-only} {
        text-align: center;
      }
      @media #{$md-and-smaller} {
        margin-top: 0px;
        margin-left: 0px;
      }
      @media #{$md-only} {
        text-align: left;
        margin-top: 50px;
      }
    }
    .landing-welcome-2 {
      width: 88%;
      @media #{$sm-only} {
        text-align: center;
      }
      @media #{$md-and-smaller} {
        width: 100%;
        text-align: center;
      }
      @media #{$md-only} {
        text-align: left;
      }
    }
  }

  .landing-right {
    .building-website-img {
      height: 100%;
    }
    @media #{$md-and-smaller} {
      margin-top: 20px;
    }
  }
}
