.news-section {
  margin-bottom: 20px;
  @media #{$sm-only} {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 50px;
  }
  .news-header {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    height: 40px;
  }

  .news-stories {
    height: fit-content;
    margin-top: 50px;

    .news-img-1 {
      max-width: 98%;
    }
    .news-img-2 {
      max-width: 100%;
    }
    .news-img-3 {
      max-width: 98%;
    }
    .news-img-4 {
      max-width: 100%;
    }

    @media #{$sm-only} {
      .news-img-1,
      .news-img-2 {
        max-width: 100%;
      }
    }
  }
}
