.post-image-container {
  background-color: rgb(238, 5, 83);
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  width: 100%;
  @media #{$md-only} {
    height: 55vh;
  }
}

.post-content-container {
  // margin-top: -80px;
  padding: 80px;
  background-color: white;
  max-width: 940px;
  @media #{$sm-only} {
    width: 100%;
    padding: 20px;
  }
  .post-col {
    display: flex;
    justify-content: center;
  }
}

.post-subtitle,
.post-text {
  text-align: left;
}
