.post-image-container {
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
  height: 50vh;
  width: 100%;
  @media #{$sm-only} {
    height: 80vh;
  }
}

.post-content-container {
  margin-top: -88px;
  padding: 80px;
  background-color: white;
  max-width: 940px;
  @media #{$sm-only} {
    width: 100%;
    padding: 20px;
  }
  .post-col {
    display: flex;
    justify-content: center;
  }
}

// .post-subtitle,
// .post-text {
//   text-align: left;
// }
