@import "./themes/colors.scss";
@import "../base/typography";

li {
  transition: 0.5s ease-in-out;
  &:hover {
    color: $accent;
    transition: 0.5s ease-in-out;
  }
}

.main-page-container {
  background-color: $background;
  font-family: "Aktifo-Book";
  color: $dark-text;

  .sourst-bold {
    color: $accent;
  }

  .our-numbers-container {
    background-color: $hover;
    border-radius: 6px;
  }

  .stat {
    border: 1px solid $footer-logo;
    border-radius: 5px;
    .stat-text {
      text-align: center;
    }
  }

  .steps {
    font-weight: 700;
  }
}

.sourst-bold,
.our-numbers-title,
.process-header,
.stat-number {
  font-weight: 700;
  font-size: 25px;
}
