@import "./themes/colors.scss";
@import "../base/typography";

.about-page-container {
  background-color: $background;
  font-family: "Aktifo-Book";
  color: $dark-text;

  .sourst-bold,
  .our-numbers-title,
  .process-header {
    font-weight: 700;
    font-size: 25px;
  }
  .sourst-bold {
    color: $accent;
  }
  .our-numbers-title {
  }

  .stat {
    border: 1px solid $footer-logo;
    border-radius: 5px;
  }

  .process-header {
  }
  .steps {
    font-weight: 700;
  }
}
