@import "../themes/colors.scss";
@import "../base/typography";

.contact-header {
  border: none;
}

.contact-info-title {
  font-weight: 500;
}

.contact-link {
  color: $dark-text;
  transition: 0.2s ease-in-out;
  &:hover {
    transition: 0.2s ease-in-out;
    text-decoration: none;
    color: $accent;
  }
}
