@import "./colors.scss";

@keyframes float {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

.logo,
.landing-welcome-1,
.landing-welcome-2 {
  color: $accent;
}

.company-logo {
  a {
    text-decoration: none;
  }
}

.logo {
  font-family: "Aktifo-BlackOblique";
  text-decoration: none;
  font-size: 40px;
}

.landing-left {
  .landing-welcome-1,
  .landing-welcome-2 {
    font-family: "Aktifo-Book";
  }

  .landing-welcome-1 {
    font-size: 25px;
  }

  .landing-welcome-2 {
    font-size: 35px;
  }
}

.landing-right {
  .building-website-img {
    animation: float 3s infinite alternate;
  }
}
