//Button component styles

@import "../themes/colors.scss";

.button {
  height: 60px;
  width: 160px;
  border-radius: 6px;
  border-style: none;
  color: $accent;
  background-color: white;
  margin-top: 40px;
  transition: 0.2s ease-in-out;
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: $accent;
    color: white;
    border: 1px solid white;
    transition: 0.2s ease-in-out;
  }
}
